@import "../../App.css";

.posts {
  box-shadow: 0px 0px 25px -10px black;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.container {
  padding: 20px;
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userInfo {
  display: flex;
  gap: 20px;
}
.userInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.details {
  display: flex;
  flex-direction: column;
}
.name {
  font-weight: 500;
}
.date {
  font-size: 12px;
}
.contant {
  margin: 20px 0px;
}
.contant img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  margin-top: 20px;
}
.infomation {
  display: flex;
  align-items: center;
  gap: 20px;
  border-top: 1px solid rgb(206, 201, 201);
}
.item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
}

.yes {
  color: blue;
}

#post-info {
  position: relative;
  left: 35px;
  top: -30px;
}

/* .infomation {
  display: flex;
  align-content: center;
  gap: 30rem;
  padding-left: 5rem;

  border-top: 1px solid rgb(206, 201, 201);
}
.item {
  display: flex;
  padding-right: 5rem;
  justify-content: space-between;
  cursor: pointer;
  font-size: 14px;
}

.yes {
  color: blue;
}

#post-info {
  position: relative;
  left: -3rem;
  bottom: 2rem;
} */
